<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="MainModel" connectionString="data source=FLOYDBA;initial catalog=PracticeDB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=FLOYDBA;initial catalog=PracticeDB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.221.12;initial catalog=PB321528_learn;user id=user04;password=04;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>